body {
    font-family: Arial, sans-serif;
}

ul, li {
    list-style-type: none;
}

li {
    margin-left: 20px;
    cursor: pointer;
}

li ul {
    display: none;
}

li.open > ul {
    display: block;
}
